{% extends "project.njk" %}

{% set project = projects[5] %}

{% block description %}
    <p>The Philadelphia Water Department’s (PWD) Customer Assistance Program (CAP) information page was originally built as a landing page to update Philadelphians on an upcoming application process for homeowners who couldn’t afford their water bills. Since leaving my co-op position with PWD, CAP progressed, and the full application process went live. The content of this page has been changed, some styles updated, and optimizations made, but the general structure and layout of the page remains the same. PWD have re-used this template as a jumping off point for other public service and informational websites since then, and have re-used the language switcher on several other pages, including the <a href="help-loan.html">HELP Loan Pre-Application</a> I designed and developed.</p>
{% endblock %}
