{% extends "project.njk" %}

{% set project = projects[3] %}

{% block description %}
    <p>Füd is a prototype example of a recipe website database, server and interface. I spent a majority of my time focusing on coding standards, asset optimization, and performance features that modern users tend to expect, including asynchronous (AJAX) database queries with immediate feedback in the front-end user interface. Over ten weeks, I maintained an extremely <a target="_blank" href="https://github.com/b7s9/idm232-bjs369">organized git repository</a>, taught myself important security features of git, and created some nifty command line scripts I can keep in my back pocket, for future use when optimizing assets for more accessible web experiences.</p>
{% endblock %}
