{% extends "project.njk" %}

{% set project = projects[2] %}

{% block description %}
    <p>I designed and developed the front-end for the HELP Loan Pre-Application as a data collection tool for the Philadelphia Water Department. The Public Affairs division was looking for a way to quickly gather information on homeowners looking to replace lead pipes in their homes, so the department could reduce the number of incoming phone calls, and increase the efficiency of the application process. I’m unaware of the exact numbers, but as far as I know, this form was successful in serving hundreds of city residents.</p>
    <p>I really enjoyed my time working in the public sector with PWD’s amazing and supportive digital/web team, because the fruits of my labor – even on simple projects such as this – had profound impacts on local government efficiency and constituents’ experiences with public works in Philadelphia.</p>
{% endblock %}