{% extends "layout.njk" %}

{% block body %}<body class="bg-anim">{% endblock %}

{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
{% include "partials/_nav.njk" %}

<main>
    <div class="jumbotron">
        <h1>
            <span class="marquee">_</span>
        </h1>
    </div>
    <div class="container directory">
        <div class="row">
            <div class="col col-md-6 mb-3">
                
                <a href="www.html" class="display-3">www</a>
            </div>
            <div class="col col-md-6 mb-3">
                <a href="audio.html" class="display-3">audio</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scriptsAsync %}
    <script src="assets/js/main.min.js"></script>
{% endblock %}