{% extends "project.njk" %}

{% set project = projects[4] %}

{% block description %}
    <p>Kami is an interactive prototype of a food-ordering application for a local food truck by the same name. The 4-person design team was responsible for developing content, designing the look and feel of the app, and conducting several in-person user research sessions. Over the course of the project I conducted “fly on the wall” observation sessions, questionnaires, and interactive usability sessions. Even though a majority of this process involved approaching strangers, I ended up enjoying this process a lot. After a few sessions I discovered how eager people are to tell you how they feel about great and terrible experiences – as long as you’re willing to listen.</p>
    <p>As a learning experience, I suggested each team member be responsible for a part of the design process they need more experience with. Therefore, I went out of my comfort zone to be the lead visual designer on the project. As visual designer, I was tasked with compiling mood boards, taking photos for branding materials, and designing style elements of the UI, including color, typography and organization. The most important takeaway I had from this project is that the user always knows what’s best for themselves. A few times throughout the process, we had begun work on a few possible features and but after user feedback, realized the features were completely undesirable. Rather than driving forward with features we think are cool (but no one wants) we had to let go of our egos and put the users first.</p>
{% endblock %}
