{% extends "project.njk" %}

{% set project = projects[1] %}

{% block description %}
    <p>Soundcheck is a progressive web app that seeks to solve a problem I often run into, in my part-time job as a live audio engineer: verifying audio inputs and outputs in an event space as quickly as possible. I began with a very simple, yet recognizable visual aesthetic for the app, which has allowed me to get ahead of schedule on feature development. So far I’ve learned how to apply cool animating css gradients (concept can be seen on portfolio home page), create haptic interactive feedback animations on mouse and touch events, and convert user touch coordinates into audio data inputs. Touch input is scaled on a curve for a better user experience, so users can more easily access frequency bands more commonly used in sound-checking.</p>
    <p>I’m very excited to continue development on other suggested features by my co-workers, and incorporating more of my audio production knowledge into the tone processing aspect of the app.</p>
{% endblock %}