{% extends "project.njk" %}

{% set project = projects[1] %}

{% block description %}
    <p>Soundcheck is an in-development progressive web app that seeks to solve a problem I often run into, in my part-time job as a live audio engineer: sound-checking a room as quickly as possible. I began by prioritizing visual aesthetics of this app, since historically I’ve focused my resources mostly on code integrity and user experience. So far I’ve learned how to apply cool animating css gradients (concept can be seen on the home page) and simple scaling algorithms to convert user touch coordinates into audio data inputs.</p>
{% endblock %}